langchain==0.3.30
langchain-core==0.3.86
langchain-community==0.3.31
langchain-openai==0.3.35
langchain-huggingface==0.2.0
langchain-text-splitters==0.3.11
faiss-cpu
rank-bm25
sentence-transformers
pypdf
